<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />

    <link rel="stylesheet" href="css/BioCite.css" />


    <!-- --------------- App init --------------- -->

    <title>BioCite - Borne Interface</title>

    <script>
        angular.module('app', ['onsen']);
    </script>

</head>

<body>
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
    <!-- -->

    <ons-split-view var="splitView"
                    secondary-page="secondary.html"
                    main-page="liste_plante.html"
                    main-page-width="80%"
                    collapse="portrait">
    </ons-split-view>


    <ons-template id="secondary.html">
        <ons-page style="border-right: 1px solid #ddd; background : #33CC33;">
            <img src="img/BioCite.jpeg" id ="logo" class="logo" <!--onclick="splitView.toggle(); splitView.setMainPage('liste_plante.html');"--> />
	    <p class="descRapide">ADRESSE.CULTURE<p>
	    <p class="descRapide">ADRESSE.VILLE</p>
	    <p class="descRapide">ADRESSE.RUE</p>
	    <fieldset id="statsLieu" class="statsLieu">
	    <legend>Statistiques du lieu</legend>
	    <p class="statsdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    </fieldset>
            <ons-list style="position: absolute;bottom: 5px; min-width : 100%;">
                <ons-list-item modifier="chevron"
                               ng-click="splitView.toggle(); splitView.setMainPage('Aide.html');">
                    <i class="fa fa-info fa-lg" style="color: #666"></i>
                    &nbsp; Aide
                </ons-list-item>

            </ons-list>

        </ons-page>
    </ons-template>
</body>
</html>
