<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>


    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />


    <!-- --------------- App init --------------- -->

    <title>Onsen UI Tab Bar</title>

    <script>
        angular.module('app', ['onsen']);

        angular.module('app').controller('AppController', function ($scope) {
            $scope.doSomething = function () {
                ons.notification.alert({ message: 'tapped' });
            };
        });
    </script>

    <script>
        $(document).on("click", "#login",function (ev){
            $.ajax({
                type: "POST",/*method type*/
                url: "http://localhost/backend/getPlantesCulture.php", 
                data: { 
                    "nomCulture" : $("#nomCulture").val(),
                    },
                dataType: "json",
                success: function(data) {
                    html = " "      
                    $.each(data, function( index, value ){
                       
                        html += "<ons-list-item modifier=\"chevron\" class=\"item\" ng-click=\"doSomething()\">
                        <ons-row>
                            <ons-col width=\"160px\">
                                <div class=\"item-pot\">
                                <p style=\"text-align : center; color : #fff; padding-top: 20%; font-size : 5em;\">
                                1</p></div><!-- A remplacer par le numéro de pot-->
                                <div class=\"item-arroser\"></div>
                            </ons-col>
                            <ons-col>
                                <header>
                                    <span class=\"item-title\"></span>
                                    <span class=\"item-label\">5h (Dernier Arrosage)</span>
                                </header>

                <fieldset class=\"item-desc\" style=\"margin-left : 4em;\" >
                                <legend>"+value["Nom commun"]+"PLANTE.NOMSCIENTIFIQUE :""</legend>
                    <p>PLANTE.DESCRIPTION</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </fieldset>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>";





                    });
                    $("#results").html(html);
                    
                }
                ,
                error: function(resultat) {}
            });   
        });

    </script>


    <style>

        .tab {
            line-height: 1;
        }

        .tab-icon {
            font-size: 24px;
            padding: 0;
            margin: 0;
            vertical-align: top;
            line-height: 28px;
        }

        .tab-label {
            line-height: 11px;
            vertical-align: top;
            font-size: 11px;
        }

        .profile-wrapper {
            padding: 16px 10px 0 10px;
        }

        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            background-color: #ccc;
        }

        .profile-name {
            font-size: 18px;
            padding: 4px 0 2px 0;
        }

        .profile-email {
            font-size: 15px;
            opacity: 0.4;
        }

        .switch--list-item {
            margin-right: 0px;
        }

        .settings-header {
            font-weight: 500;
            font-size: 14px;
            opacity: 0.4;
            padding: 10px 0 0px 10px;
            margin-bottom: -4px;
        }

        .settings-list {
            margin-top: 10px;
        }

        .item {
            padding: 10px;
            line-height: 1;
        }

        .item-pot {
            background-color: #33CC33;
            width: 155px;
            height: 155px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            margin-top:-50%;
        }

        .item-add {
            background-color: #FF8000;
            width: 115px;
            height: 115px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            margin-top: -5em;

        }
        .item-arroser {
            background-color: #81BEF7;
            width: 115px;
            height: 115px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            margin-top: -7em;
            margin-left : 5em;
        }

        .item-title {
            font-size: 15px;
            font-weight: 500;
        }

        .item-desc {
            font-size: 14px;
            color: #666;
            line-height: 1.3;
            margin: 4px 0 0 0;
            padding: 0 30px 0 0;
        }

        .item-label {
            font-size: 12px;
            color: #999;
            float: right;
        }
    </style>

</head>

<body ng-controller="AppController">
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
    <!-- -->


        <ons-navigator>
            <ons-page>
                <ons-toolbar>
                    <div class="center">
                    <input type="text" id="nomCulture" placeholder="Nom culture" value="">
                    <input type="button" id="login" value="submit">
                    </div>
                    <div class="right"></div>
                </ons-toolbar>

                <ons-list style="margin: -1px 0" id="results">

            <!-- ajouter -->
                    <ons-list-item modifier="chevron" class="item" ng-click="doAdd()" style="margin-left: 40%;">
                        <ons-row>
                            <ons-col width="60px">
                            </ons-col>
                            <ons-col>
                                <header >
                                    <span class="item-title">
                                       <div class="item-add" >
                                           <p style="text-align : center; color : #fff; padding-top: 10%; font-size : 5em;">
                                            +</p></div><!-- A remplacer par le numéro de pot-->
                                    </span>
                                </header>

                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-navigator>


   
</body>
</html>
