#logo{
	width : 100px;
	height : 100px;
	margin-left: 5%;
	margin-top : 5%;
}

#statsLieu{
	margin-top : 50%;
	color : #fff;

}

.descRapide{
	text-align : right;
}

#statsdesc{
	color : #fff;
}
.page, .page_content{
	background-color : #33CC33;
}

