<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
      
    <script type="text/javascript" src="js/index.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script>
      angular.module('app', ['onsen']);
    </script>       
 
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />

    <!-- --------------- App init --------------- -->
    
    <!-- Cordova reference -->
	
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript">
		app.initialize();
	</script>


	<!-- -->

    <title>biocite</title>




    <style>
	/*stylesheet interne*/
    </style>

</head>

<body>


    <ons-sliding-menu menu-page="menu.html" main-page="home.html" side="left"
                      var="menu" type="reveal" max-slide-distance="260px" swipeable="true">
    </ons-sliding-menu>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
                    Accueil
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
                    Connexion
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('signup.html', {closeMenu: true})">
                    Inscription
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>


	<ons-template id="menu_prive.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">                
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('profile.html', {closeMenu: true})">
                    Mon profil
                </ons-list-item>
                
                <ons-list-item id="friends" class="menu-item" ng-click="menu.setMainPage('friends.html', {closeMenu: true})">
                    Amis
                </ons-list-item>

                <ons-list-item id="logout" class="menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
                    Déconnexion
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    
    
	<ons-template id="home.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Accueil</div>
            </ons-toolbar>


            <ons-row style="margin-top: 100px; text-align: center;">
                <ons-col>
					
				<div class="app">
				<h1>Biocité</h1>
				</div>

				<ul id="tests"></ul>

				<p id="version_number" class="lucent note">b0.5</p>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>
    
     <ons-template id="login.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Connexion</div>
            </ons-toolbar>


            <ons-row style="margin-top: 100px; text-align: center;">
                <ons-col>
          <div class="formarea">
            <div class="form-row">
              <input type="text" id="username" class="text-input--underbar width-full" placeholder="Nom d'utilisateur" value="">
            </div>

            <div class="form-row">
              <input type="password" id="password" class="text-input--underbar width-full" placeholder="Mot de passe" value="">
            </div>

            <div class="vspc form-row">
              <ons-button id="login" modifier="large--cta">Connexion</ons-button>
            </div>
            </div>
          </div>

                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>        
    
</body>
</html>
